<header>
    <nav class="navbar navbar-default navbar-fixed-top header  menu-scroll" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
                    <span class="sr-only">Меню</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">
                    <img src="img/system/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="collapse navbar-collapse menu" id="menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-hide"><a href="#">Пункт 1</a></li>
                    <li class="navbar-hide"><a href="#">Пункт 2</a></li>
                    <li class="navbar-hide"><a href="#">Пункт 3</a></li>
                    <li class="navbar-hide"><a href="#">Пункт 4</a></li>
                    <li class="navbar-hide"><a href="#">Пункт 5</a></li>
                </ul>
                <div class="navbar-right">
                    <div class="col-xs-12">
                        <a class="call-number" href="tel: +74954100164"><p>8 (495) 410-01-64</p></a>
                        <button class="btn-requestCall" data-toggle="modal"
                                data-target="#application">ОБРАТНЫЙ ЗВОНОК
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>