<title>Рассчет стоимости дома</title>
<meta name="description"
      content="Калькулятор рассчета стоимости дома">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<!--theme color-->
<meta name="theme-color" content="rgb(128, 12, 116)">
<meta name="msapplication-navbutton-color" content="rgb(128, 12, 116)">
<meta name="apple-mobile-web-app-status-bar-style" content="rgb(128, 12, 116)">

<!--favicons-->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="apple-touch-icon" href="img/icons/favicon-60.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/icons/favicon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/icons/favicon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/icons/favicon-152.png">
<link rel="icon" sizes="128x128" href="img/icons/favicon-128.png">
<link rel="icon" sizes="192x192" href="img/icons/favicon-192.png">
<!--opengraph-->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Дом Недорого">
<meta property="og:title" content="Рассчет стоимости">
<meta property="og:description" content="Калькулятор рассчета стоимости дома строительной компании Дом Недорого">
<meta property="og:url" content="http://stroitelstvodomov.pro">
<meta property="og:locale" content="ru_RU">
<meta property="og:image" content="img/content/og.jpg">
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">
<meta property="og:image" content="img/content">

<!--css-->
<link rel="stylesheet" href="css/bundle.css"> <!-- Подключаем CSS -->
