a, input, button, textarea {
  outline: none;
  padding: 0 5px;
}

select {
  outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  transition: 0.2s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus {
  outline: none;
  outline-offset: 0;
}

.btn-purple {
  font-family: "GothamProBold";
  font-size: 20px;
  border-radius: 0;
  border: 0;
  background: rgb(128, 12, 116);
  color: #fff;
  font-weight: 400;
  padding: 15px 40px;
  transition: 0.3s;
  text-transform: uppercase;
}

.calculator {
  background: #e4ecf2;
  .calculator-block {
    background: #fff;
    padding: 40px 55px !important;
    border-radius: 0;
    margin-top: 15px;
    box-shadow: 0 7px 50px rgba(2, 18, 63, 0.1);
    & > .row:first-child .title-calculator {
      border-top: none;
    }
    .title {
      text-align: center;
      font-family: "IntroRustG";
      color: rgb(128, 12, 116);
      padding: 0 15px 25px;
    }
    .title-calculator {
      padding: 30px 10px;
      font-size: 20px;
      color: rgb(0, 0, 0);
      border-top: 1px solid #e4ecf2;
    }
    .data-calculator {
      padding: 23px 15px;
      label {
        cursor: pointer;
        font-weight: normal;
        margin-bottom: 0;
        width: 100%;
        .radio {
          display: none;
          &:checked + .radio-name {
            color: #fff;
            background: rgb(255, 150, 2);
            border-color: rgb(255, 150, 2);
            width: 100%;
          }
        }
        .radio-name {
          width: 100%;
          color: rgba(128, 128, 128, 0.6);
          border: 1px solid rgba(128, 128, 128, 0.6);
          border-radius: 0;
          font-size: 20px;
          padding: 5px;
          display: inline-block;
          text-align: center;
          background: transparent;
          transition: .3s;
        }
      }
      .form-control {
        width: 100%;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 0;
        font-size: 20px;
        padding: 5px;
        height: 42px;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: rgb(255, 150, 2);
          border: 1px solid rgb(255, 150, 2);
        }
      }
      .title-data {
        font-size: 20px;
        color: rgb(0, 0, 0);
        padding: 7px 0;
      }
      .label-checkbox {
        font-size: 20px;
        color: rgb(0, 0, 0);
        width: auto !important;
      }
      .extra {
        border-top: 1px solid #e4ecf2;
        .label-checkbox {
          width: 100% !important;
        }
        .checkbox[type="checkbox"] + span {
          margin-left: 0;
          float: right;
          margin-top: 5px;
        }
        & > div {
          margin-top: 20px;
        }
      }
      .label-checkbox {
        .checkbox {
          display: none !important;
        }
        .checkbox[type="checkbox"] {
          & + span {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../svg/check-def.svg") no-repeat;
            vertical-align: middle;
            margin-left: 5px;
            background-size: 17px;
            background-position: left;
          }
          &:checked + span {
            background: url("../svg/check-checked.svg") no-repeat;
          }
        }
      }
    }
    .wiring {
      & > .row {
        margin-bottom: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }

    }
    .walls {
      padding: 23px 0 !important;
    }
    .plumbing {
      & > .row {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .radio-name {
        font-size: 18px;
      }
    }
    .footer-calculator {
      padding-top: 15px;
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      .footer-calculator-title {
        font-family: "GothamProBold";
        line-height: 28px;
        color: rgba(0, 0, 0, 0.3);
      }
      .price-center {
        .price {
          font-size: 45px;
          font-family: "IntroRustG";
          color: rgb(128, 12, 116);
          display: inline-block;
          margin-right: 10px;
          letter-spacing: -3px;
          span {
            font-size: 71px;
          }
        }
      }
      .btn-purple {
        padding: 15px;
        width: 100%;
        margin-top: 6px;
      }
    }
    /*------ easydropdown -------*/

    .dropdown {
      border: 1px solid rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      width: 100%;
      outline: none;
      border-radius: 0;
      &.open {
        border: 1px solid rgb(255, 150, 2);
        color: rgb(255, 150, 2);
      }
    }
    .dropdown .carat {
      border-top: 8px solid rgb(0, 0, 0);
    }

    .dropdown .selected, .dropdown  {
      color: rgb(0, 0, 0);
    }
    .dropdown ul {
      padding: 0;
    }
    .dropdown li.focus {
      background: rgb(255, 150, 2);
      color: #fff;
      width: 100%;
    }
    .dropdown li.active {
      background-color: rgb(255, 150, 2);
      color: rgb(255, 255, 255);
    }
    .dropdown.open div {
      box-shadow: 0 5px 11px 3px rgba(255, 150, 2, 0.35);
    }

    .dropdown.open .selected {
      color: rgb(255, 150, 2);
    }

    .dropdown.open .carat {
      border-top: 6px solid rgba(0, 0, 0, 0);
      border-bottom: 8px solid rgb(255, 150, 2);
    }

    /*------ end easydropdown -------*/
  }
  p {
    margin-bottom: 0;
  }
}