@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.woff");
  font-style: normal;
  font-weight: normal;
}