.header {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  .menu {

  }

   .navbar-toggle {
     border-color: rgba(221,221,221, 0) !important;
     transition: 0.2s;
     transform: rotateY(180deg);
     transition: 0.5s;
    .icon-bar {
      background: #ff9600;
      width: 22px;
      transition: all 0.2s;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    &:hover {
      background: transparent !important;
    }
  }
  .navbar-toggle.collapsed {
    border-color: rgb(221,221,221) !important;
    transform: rotateY(0deg);
    transition: 0.2s;
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }


}