.modal-dialog {
  .modal-content {
    padding: 30px 0 45px;
    .close {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 35px;
      border: 3px solid rgba(138, 138, 138, 1);
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 100%;
      padding: 0;
      color: rgb(137, 137, 137);
      transition: .2s;
      z-index: 1;
      &:hover {
        border: 3px solid rgb(255, 150, 2);
        color: rgb(255, 150, 2);
        opacity: .8;
      }
    }
    .modal-header {
      border-bottom: none;
      .modal-title {
        font-size: 25px;
        font-family: "gothamProBold";
        color: #33042F;
        text-align: center;
        span {
          color: #FF9600;
        }
      }
    }
    .modal-body {
      form {
        input {
          display: block;
          width: 230px;
          height: 40px;
          border-radius: 3px;
          border: 1px solid #989B98;
          padding: 10px;
          margin: 10px auto;
          transition: 0.2s;
          &::-webkit-input-placeholder {
            transition: 0.2s;
          }
          &:focus {
            border-color: #FF9600;
            color: #FF9600;
            &::-webkit-input-placeholder {
              opacity: 0;
            }
          }
        }
        .btn-purple {
          margin: 40px auto 0;
          display: block;
          font-size: 18px;
          font-family: "gothamProBold";
          color: #fff;
          background-color: #810C74;
          border: none;
          border-radius: 3px;
        }
      }
    }
  }
}