@media screen and (max-width: 767px){
  .calculator {
    .calculator-block {
      padding: 40px 15px !important;
      .data-calculator {
        label {
          margin-bottom: 5px;
        }
        .form-control {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .calculator {
    .calculator-block {
      .data-calculator {
        padding: 0 15px 23px;
      }
      .walls {
        padding: 0 0 23px !important;
      }
      .footer-calculator {
        .price-center {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 444px) {
  .calculator {
    .calculator-block {
      .title {
        font-size: 29px;
      }
      .footer-calculator {
        .price-center {
          .price {
            font-size: 35px;
            span {
              font-size: 45px;
            }
          }
        }
      }
    }
  }
}